<footer class="footer mt-3 pb-1 pt-1 ">
        <div class="container-fluid">
            <ul class="foote_bottom_ul_amrc"></ul>
            <p class="text-center ftext">Copyright @2020 | Designed by <a href="https://www.econsultancyserv.com/" style="text-decoration: none;">Al Nafis Groups</a></p>
            <ul class="social_footer_ul">
                <div class="row justify-content-center">
                    <a href="https://www.facebook.com/Emerge-Consultancy-Services-2180735158922742/?modal=admin_todo_tour" style="margin-left: 3px;">
                        
                    <%= image_tag("facebook.png", alt: "facebook", width:"30px", class: "social_icons") %> </a>
                    <a href="https://twitter.com/ServicesEmerge" style="margin-left: 3px;">
                        <%= image_tag("twitter.png", alt: "twitter", width:"30px", class: "social_icons") %> 
                    </a>
                    <a href="https://www.instagram.com/econsultancyserv/" style="margin-left: 3px;">
                        <%= image_tag("instagram.png", alt: "instagram", width:"30px", class: "social_icons") %> </a>
                    <a href="https://api.whatsapp.com/send?phone=65-98305644text=welcome%20to%20my%20whatsapp" style="margin-left: 3px;">
                        <%= image_tag("whatsapp.png", alt: "whatsapp", width:"30px", class: "social_icons") %> </a>
                </div>
            </ul>
        </div>
    </footer>